body{
    margin: 0;
    background-color: #ccc;
  }
body *, body *::before, body *::after{
    box-sizing: border-box;
  }
.header, .visual, .main, .slogan, .footer-content{
    width: 940px;
    margin: 0 auto;
  }
/*헤더*/

.header{
    background-color: #fff;
    
  } /*로고*/

.logo{
    margin: 0;
    position: relative; /*로고가 하늘에 떠있는 객체가 되어버렸자너*/
    top: 45px;
    left: 65px;
    font-size: 100%;
    line-height: 1;
  }
  
.logo a, .logo img{
    display: block;
  }

.member{
  margin: 0;
  }

.visual{
    background-color: salmon;
    height: 10vh;
  }
.main{
    background-color: blue;
    display: flex;
    flex-direction: row; /*default 방향은 row*/
    justify-content: space-evenly;
    padding: 30px;
  }
  
.group{
    height: 60vh;
  }
.group1{
    background-color: violet;
    width: 250px;
  }
.group2{
    background-color: aqua;
    width: 380px;
    order: 0; /*default 값은 0이다.*/
  }
.group3{
    background-color: sandybrown;
    width: 190px;
  }
.slogan{
    background-color: lightgreen;
    height: 10vh;
  }
  
.footer{
    background-color: silver;
  }
.footer-content{
    background-color: pink;
    height: 10vh;
  }